<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Usuario</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
  	
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="usuario">Usuário</a></li>
        <li><a href="/">Home</a></li>        
      </ul>
    </div>
  </nav>
<h1>Tela Principal</h1> <br>
<a href= "usuario">Cadastro Usuário</a>

<script type="text/javascript" src="materialize/js/materialize.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>